.bg-dark {
  background-color: $dark !important;
}

.bg-white {
  background-color: white !important;
}

.bg-gray {
  background-color: #b3b3b3 !important;
}

.bg-lightgray {
  background-color: $secondary-color !important;
}

.bg-yellow {
  background-color: #fff3d0 !important;
}

.bg-teal-500 {
  background-color: #38b2ac;
}

.bg-gray-200 {
  background-color: rgb(124, 120, 120);
}
