.user-signup-btn {
  width: 80vw;
  height: 60vw;
  max-width: 600px;
  max-height: 400px;
  background-color: #e5f7ff;
  color: $primary-color;
  font-size: 2rem;
  font-weight: 800;
  margin: auto;
  border-radius: 25px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
}

.painter-signup-btn {
  display: block;
  width: 80vw;
  height: 60vw;
  max-width: 600px;
  max-height: 400px;
  background-color: #fef18e;
  color: $primary-color;
  font-size: 2rem;
  font-weight: 800;
  align-items: center;
  margin: auto;
  border-radius: 25px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
}

.btn-gray {
  border: solid #727172 3px;
  background-image: linear-gradient(#999899, #717071);
  color: white;
  text-shadow: 1px 1px #9d9d9e;
}

.btn-round {
  border-radius: 20px;
  padding: 0px 10px;
  border: none;
  color: black;
  background-color: white;
}

.btn-round:hover {
  background-color: #888888;
  color: #a8a8a8;
}

.btn-inquiry {
  border-radius: 20px;
  display: block;
  margin: auto;
  padding: 5px 10px;
  max-width: 180px;
  text-align: center;
}

.btn-profile-edit {
  border-radius: 20px;
  font-size: 12px;
  border-width: 0 1px 3px 1px;
  font-weight: 500;
  border-color: #949394;
  background-image: linear-gradient(#9d9d9e, #c7c7c8);
  color: white;
  text-shadow: 1px 1px #9d9d9e;
  padding: 5px 10px;
}

.btn-profile-edit:hover {
  border-color: #e50012;
  opacity: 0.9;
  border-width: 3px 1px 1px 1px;
  background-color: #e95532;
  background-image: none;
  color: white;
  text-shadow: 1px 1px #9d9d9e;
}

.btn-bulk-quotation {
  padding: 5px 5px 5px 5px;
  white-space: nowrap;
  color: white;
  border-radius: 20px;
  height: 30px;
  border: 2px solid white;
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
}

.btn-confirm {
  background-image: linear-gradient(#14b1ad, #a6dad7);
  border-radius: 30px;
  border: none;
  border-bottom: solid 4px #00aca8;
  padding: 8px 50px;
  color: white;
  font-size: 21px;
  font-weight: 700;
  text-shadow: 1px 1px 1px #016664;
}

.btn-confirm:hover {
  padding: 9px 50px 7px 50px;
  background-image: none;
  background-color: #00aca8;
  border: none;
  box-shadow: inset 0px 0px 10px #016664;
}

.red_btn {
  background-color: #e70004;
  width: 120px;
  text-align: center;
  color: white;
  border-radius: 35px;
  padding: 12px 15px;
  font-weight: bold;
  cursor: pointer;
  margin: auto;
  margin-top: 50px;
}

.btn-green {
  background-color: #1d6dff;
}

.btn-primary-round {
  height: 35px;
  color: white;
  border: solid 1px white;
  border-radius: 20px;
  padding: 2px 10px;
  text-align: center;
}

.btn-regester {
  display: block;
  margin: auto;
  margin-top: 15px;
  font-size: 22px;
  max-width: 200px;
  border-radius: 5px;
  font-weight: 900;
  border: solid #727172 3px;
  background-image: linear-gradient(#999899, #717071);
  color: white !important;
  text-shadow: 1px 1px #9d9d9e;
  padding: 5px 30px 5px 30px;
}

.btn-regester.btn-round {
  border-radius: 25px;
  max-width: none;
}

.btn-regester:hover {
  border: solid #e50012 3px;
  font-weight: 900;
  opacity: 0.9;
  border-width: 3px 1px 1px 1px;
  background-image: linear-gradient(#ec5e47, #e50012);
  color: white !important;
  text-shadow: 1px 1px #9d9d9e;
}

a.btn-regester, a.btn-regester:hover {
  width: fit-content;
}