.setting {
  padding-top: 80px;
}

.setting-link-btn {
  width: 80%;
  display: block;
  padding: 10px;
  margin: auto;
  border: solid 1px #e8e7e7;;
  font-size: 18px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .25);
  border-radius: 10px;
  height: 45px;
  color: #747373;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.setting-complete {
  .message-title{
    color: red;
    margin-top: 25vh;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
  }
  .message-content {
    color:#747373;
    margin-top: 50px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }
}

.password-form {
  form {
    width: 80%;
    margin: 50px auto auto;

    label {
      display: block;
      width: 100%;
      margin-top: 15px;
      font-size: 18px;
      color: #747373;
    }

    input {
      width: 100%;
      border: solid 1px #e8e7e7;;
      font-size: 18px;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, .25);
      padding: 10px;
      border-radius: 10px;
      height: 45px;
    }
    
    input:focus {
      outline: none;
    }
  }

  .btn-send {
    display: block;
    margin:auto;
    margin-top: 15px;
    font-size: 22px;
    width: 180px;
    border-radius: 5px;
    font-weight: 900;
    border: solid #727172 3px;
    background-image: linear-gradient(#999899, #717071);
    color: white;
    text-shadow: 1px 1px #9d9d9e;
    padding: 5px 30px 5px 30px;
  }
  
  .btn-send:hover {
    border: solid #e50012 3px;
    font-weight:900;
    opacity: 0.9;
    border-width: 3px 1px 1px 1px;
    background-image: linear-gradient(#ec5e47, #e50012);
    color: white;
    text-shadow: 1px 1px #9d9d9e;
  }
}

.withdraw-form{
  margin-top: 80px;

  .method-title{
    font-size: 24px;
    color: red;
    font-weight: 900;
    text-align: center;
  }

  .message-content {
    color:#747373;
    margin-top: 50px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }

  .form-input-radio {
    font-size: 21px;
    width: 70%;
    color: #707070;
    display: block;
    margin:auto;
  }

  form {
    width: 80%;
    margin: 50px auto 80px;

    label {
      display: block;
      width: 100%;
      margin-top: 15px;
      font-size: 18px;
      color: #747373;
    }

    input {
      width: 100%;
      border: solid 1px #e8e7e7;;
      font-size: 18px;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, .25);
      padding: 10px;
      border-radius: 10px;
      height: 45px;
    }
    
    input:focus {
      outline: none;
    }
  }

  .radio {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 0.5em;
    font-size: 2.25rem;
    color: var(--color);
  
    &:focus-within {
      .radio__label {
        transform: scale(1.05);
        opacity: 1;
      }
    }
  }
    
  .radio__label {
    line-height: 1;
    transition: 180ms all ease-in-out;
    opacity: 0.8;
  }
    
  .radio__input {
    display: flex;
  
    input {
      opacity: 0;
      width: 0;
      height: 0;
  
      &:focus + .radio__control {
        box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
      }
    }
  }
    
  .radio-gradient input:checked + .radio__control {
    background: radial-gradient(currentcolor 50%, rgba(255, 0, 0, 0) 51%);
  }

  .radio__control {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 0.1em solid currentColor;
    transform: translateY(-0.05em);
  }

  .description {
    width: 70%;
    color: red;
    font-size: 18px;
    margin: auto;
    font-weight: 500;
    margin-bottom: 30px;
  }

  .btn-send {
    display: block;
    margin:auto;
    margin-top: 40px;
    font-size: 22px;
    width: 180px;
    border-radius: 5px;
    font-weight: 900;
    border: solid #727172 3px;
    background-image: linear-gradient(#999899, #717071);
    color: white;
    text-shadow: 1px 1px #9d9d9e;
    padding: 5px 30px 5px 30px;
  }

  .btn-send:hover {
    border: solid #e50012 3px;
    font-weight:900;
    opacity: 0.9;
    border-width: 3px 1px 1px 1px;
    background-image: linear-gradient(#ec5e47, #e50012);
    color: white;
    text-shadow: 1px 1px #9d9d9e;
  }
}